body{
    background: url();
}
header {
    color: #088f8f;
    padding: 1rem;
    text-align: center;
    height: 100px;

}
.appointment {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border: 2px solid #088f8f;
    box-shadow: .5rem .5rem 0 rgb(22,160,133,.2);
   
}
.side-img{
    background-image: url(appoimg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px 0 0 10px;
    width: 40%;

}

.row{
height: px;
    
}

.appointment .dropdown-container {
    display: flex;
    justify-content: space-between;
   
}

.appointment .dropdown {
    flex-start: 0;
    flex: 1;
}

.appointment label {
   color: #088f8f;
   margin-top: 15px;
    font-weight: bold;
}
img{
    height: 100%;
    width: 100%;
}
   
.appointment input[type="text"],
.appointment input[type="tel"],
.appointment input[type="date"],
.appointment input[type="time"] {
    
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    transition: 0.4s;
    margin-right: 15px;
  
   
}

.appointment .appointmentbtn {
    display:block;
    width: 250px;
    padding: 0.5rem;
    margin-top: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #088f8f;
    color: #eaf4f3;
    transition: .4s;
    cursor: pointer;
}

.appointment .appointmentbtn:hover {
    background:#035757;
    color: #eaf4f3;
}