header {
    background-color: #088f8f;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 10;
}
.appointment {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.appointment .dropdown-container {
    display: flex;
    justify-content: space-between;
   
}

.appointment .dropdown {
    flex-start: 0;
    flex: 1;
}

.appointment label {
    display: block;
   
    font-weight: bold;
}

.appointment input[type="text"],
.appointment input[type="tel"],
.appointment input[type="date"],
.appointment input[type="time"] {
    display: block;
    width: 100%;
   
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  
   
}

.appointment .appointmentbtn {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #088f8f;
    color: #eaf4f3;
    transition: .4s;
    cursor: pointer;
}

.appointment .appointmentbtn:hover {
    background:#035757;
    color: #eaf4f3;
}